<ion-view title="Acceder">

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <a class="button button-clear" href="#/app/basket"><i class="icon ion-ios-cart"><span class="badge badge-dark">{{cartItems}}</span></i></a>
    </ion-nav-buttons>

    <ion-content class="has-header padding" ng-controller="loginCtrl">
        <br>
        <h3>Entrar a mi cuenta</h3>
        <p>Pon tu correo y contraseña para poder acceder a tu cuenta.</p>
        <br>
    	<form name="login" id="acceso" >
        <label class="item item-input">
    		<input type="email" name="username" ng-model="username" id="username" placeholder="Email" required>
        </label>
        <br>
        <label class="item item-input">  
    		<input type="password" name="password" ng-model="password" id="password" placeholder="Contrasena" required>
        </label>
            <button class="button button-block button-energized" ng-click="acceso()">Acceder</button>
    	</form>
        <div class="login" ng-controller="PaymentCtrl">
            <label class="item item-input" style="border-color: #fff; padding: 0;">
            <input type="email" ng-model="email.addr" id="login1" class="InputUsuario" ng-change="evaluateEmail()" ng-model-options="{debounce: 750}" placeholder="Introduce tu email">
        </label>
        <div class="card" ng-if="user">
                  <h4>&nbsp;&nbsp; Ya tienes una sessión abierta.</h4>
                <div class="item item-avatar">
                    <img ng-if="user.customer.avatar_url" ng-src="{{user.customer.avatar_url}}" />
                    <h2>{{user.customer.last_name}} {{user.customer.first_name}}</h2>
                    <p><span ng-if="user.customer.username"><strong>({{user.customer.username}})</strong></span> Creada el {{user.customer.created_at | date: 'fullDate'}}</p>
                </div>

                <div class="item item-divider" ng-if="user.customer.last_order_date" ui-sref="app.orders({customer_id: user.customer.id})">
                Último pedido (Fecha / Num. Pedidos)
                </div>
                <div class="item item-text-wrap" ng-if="user.customer.last_order_date">
                {{user.customer.last_order_date | date: 'fullDate'}} <strong>({{user.customer.last_order_id}})</strong>

                <button class="button button-block button-energized" ui-sref="app.orders({customer_id: user.customer.id})">
                    Ver todos los pedidos
                </button>

                </div>

            </div>
        </div>
        <br><hr>
    	<ion-text color="secondary">
		  <p>Si no tienes cuenta, puedes crearla desde aquí: <a ng-href="#/app/newCustomer">Crear cuenta</a></p>
          <p>¿No recuerdas tu contraseña? <a target="_blank" ng-href="https://naturapp.store/my-account/contrasena-perdida/">Resetear contraseña</a></p>
		</ion-text>
    	
    </ion-content>
</ion-view>
